.task-list {
  width: 100%;
}

.task-info {
  display: flex;
  align-items: center;
}

.edit-input {
  width: 100%;
}

.task-actions {
  display: flex;
  align-items: center;
}

.task-actions > * {
  margin-right: 5px;
}
